.nav {

  &__list {
    display: flex;
    gap: 20px;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.03em;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 550px) {

    &__list {
      flex-direction: column;
      gap: 15px;
    }

    &__link {
      font-size: 1.6rem;
    }
  }
}